<launch>
  <include file="multi_cam_tracker.machine" />

  <!-- Camera 1 -->
  <group ns="camera1" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c1">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera1.yaml"/>
    </node>
  </group>

  <!-- Camera 2 -->
  <group ns="camera2" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c1">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera2.yaml"/>
    </node>
  </group>

  <!-- Camera 3 -->
  <group ns="camera3" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c1">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera3.yaml"/>
    </node>
  </group>

  <!-- Camera 4 -->
  <group ns="camera4" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c1">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera4.yaml"/>
    </node>
  </group>

  <!-- Camera 5 -->
  <group ns="camera5" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c2">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera5.yaml"/>
    </node>
  </group>

  <!-- Camera 6 -->
  <group ns="camera6" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c2">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera6.yaml"/>
    </node>
  </group>

  <!-- Camera 7 -->
  <group ns="camera7" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c2">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera7.yaml"/>
    </node>
  </group>

  <!-- Camera 8 -->
  <group ns="camera8" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" machine="c2">
      <rosparam file="camera_common.yaml"/>
      <rosparam file="camera8.yaml"/>
    </node>
  </group>

</launch>
